<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Music App</h1>
    <% if current_user %>
      <h4 class="user">Logged in as <%= current_user.email %>
      <form class="user" action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form></h4>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
